script(type="text/javascript", scr="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", scr="/vendor/angular/angular.js")
script(type="text/javascript", scr="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", scr="/vendor/angular-route/angular-route.js")
script(type="text/javascript", scr="/app/app.js")
